extends layout

block content
  div.page
    h1= title
    form(action='/new', method='POST')
      div#inputs
        div#inputBlock
          label Name
          input(type='text' name="authorName")
        div#inputBlock
          label Message
          textarea(name="messageText")
      div#outOrSubmit
        a(href='/') Back to messages
        button(type='submit') Submit
      