extends layout

block content
  h1= title
  form(action='/new', method='POST')
    div
      div
        label Name
        input(type='text')
      div
        label Message
        input(type='text')
    button(type='submit') Submit