extends layout

block content
  h1= title
  form(action='/new', method='POST')
    div
      div
        label Name
        input(type='text' name="authorName")
      div
        label Message
        input(type='text' name="messageText")
    button(type='submit') Submit